<% layout('layout/boilerplate') %>
<style>
    .job-det{
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
        padding: 20px;
    }
</style>
<section class="container my-5 d-flex justify-content-between">
  <div class="job-det col-md-6 pe-4">
    <h2><%= job.title %></h2>
    <p><strong>Company:</strong> <%= job.company %></p>
    <p><strong>Location:</strong> <%= job.location %></p>
    <p><strong>Salary:</strong> ₹<%= job.salaryMin %> - ₹<%= job.salaryMax %></p>
    <p><strong>Job Type:</strong> <%= job.jobType %></p>
    <p><%= job.description %></p>
  </div>

  <div class="col-md-5">
    <h4>Apply Now</h4>
    <form action="/<%= job._id %>/apply" method="POST">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="name" class="form-control" value="<%= user.name || '' %>" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" value="<%= user.email || '' %>" required />
      </div>
      <button  onclick="alert('Applied successfully!')" ontype="submit" class="btn btn-success">Apply Now</button>
    </form>
  </div>
</section>
